venv/
.idea/
__pycache__/
*.py[cod]
*$py.class
downloads/
.Python
build/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
pip-log.txt
pip-delete-this-directory.txt
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
instance/
.webassets-cache
.scrapy
docs/_build/
.pybuilder/
target/
.ipynb_checkpoints
profile_default/
ipython_config.py
.pdm.toml
.pdm-python
.pdm-build/
__pypackages__/
.env
.venv
env/
ENV/
env.bak/
venv.bak/


